In [1]:
import pandas as pd
import numpy as np

In [6]:
data_set = pd.read_csv('/content/ Life Expectancy Data Analysis/Life Expectancy Data Analysis.csv')
data_set.head(3)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9

In [7]:
data_set.shape

(2938, 22)

In [9]:
data_set.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [12]:
data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10   BMI                             2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15   HIV/AIDS                        2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18   thinness  1-19 years            2904 non-null   float64
 19   thinness 5-9 years              2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [15]:
data_set = data_set.replace(to_replace=["", " "], value="null").fillna("null")
print(data_set)

          Country  Year      Status Life expectancy  Adult Mortality  \
0     Afghanistan  2015  Developing             65.0           263.0
1     Afghanistan  2014  Developing             59.9           271.0
2     Afghanistan  2013  Developing             59.9           268.0
3     Afghanistan  2012  Developing             59.5           272.0
4     Afghanistan  2011  Developing             59.2           275.0
...           ...   ...         ...              ...             ...
2933     Zimbabwe  2004  Developing             44.3           723.0
2934     Zimbabwe  2003  Developing             44.5           715.0
2935     Zimbabwe  2002  Developing             44.8            73.0
2936     Zimbabwe  2001  Developing             45.3           686.0
2937     Zimbabwe  2000  Developing             46.0           665.0

      infant deaths Alcohol  percentage expenditure Hepatitis B  Measles   \
0                62    0.01               71.279624        65.0      1154
1                64    0.01               73.523582        62.0       492
2                66    0.01               73.219243        64.0       430
3                69    0.01               78.184215        67.0      2787
4                71    0.01                7.097109        68.0      3013
...             ...     ...                     ...         ...       ...
2933             27    4.36                0.000000        68.0        31
2934             26    4.06                0.000000         7.0       998
2935             25    4.43                0.000000        73.0       304
2936             25    1.72                0.000000        76.0       529
2937             24    1.68                0.000000        79.0      1483

      ... Polio  Total expenditure Diphtheria   HIV/AIDS         GDP  \
0     ...   6.0               8.16        65.0       0.1   584.25921
1     ...  58.0               8.18        62.0       0.1  612.696514
2     ...  62.0               8.13        64.0       0.1  631.744976
3     ...  67.0               8.52        67.0       0.1     669.959
4     ...  68.0               7.87        68.0       0.1   63.537231
...   ...   ...                ...         ...       ...         ...
2933  ...  67.0               7.13        65.0      33.6  454.366654
2934  ...   7.0               6.52        68.0      36.7  453.351155
2935  ...  73.0               6.53        71.0      39.8    57.34834
2936  ...  76.0               6.16        75.0      42.1  548.587312
2937  ...  78.0                7.1        78.0      43.5  547.358878

      Population  thinness  1-19 years  thinness 5-9 years  \
0     33736494.0                  17.2                17.3
1       327582.0                  17.5                17.5
2     31731688.0                  17.7                17.7
3      3696958.0                  17.9                18.0
4      2978599.0                  18.2                18.2
...          ...                   ...                 ...
2933  12777511.0                   9.4                 9.4
2934  12633897.0                   9.8                 9.9
2935    125525.0                   1.2                 1.3
2936  12366165.0                   1.6                 1.7
2937  12222251.0                  11.0                11.2

     Income composition of resources Schooling
0                              0.479      10.1
1                              0.476      10.0
2                               0.47       9.9
3                              0.463       9.8
4                              0.454       9.5
...                              ...       ...
2933                           0.407       9.2
2934                           0.418       9.5
2935                           0.427      10.0
2936                           0.427       9.8
2937                           0.434       9.8

[2938 rows x 22 columns]

In [17]:
data_set.isnull().sum()

Country                            0
Year                               0
Status                             0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
 BMI                               0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
 HIV/AIDS                          0
GDP                                0
Population                         0
 thinness  1-19 years              0
 thinness 5-9 years                0
Income composition of resources    0
Schooling                          0
dtype: int64

In [16]:
data_set.to_csv("cleaned_data.csv", index=False)

In [14]:
data_set.isnull().sum()/data_set.shape[0]

Country                            0.0
Year                               0.0
Status                             0.0
Life expectancy                    0.0
Adult Mortality                    0.0
infant deaths                      0.0
Alcohol                            0.0
percentage expenditure             0.0
Hepatitis B                        0.0
Measles                            0.0
 BMI                               0.0
under-five deaths                  0.0
Polio                              0.0
Total expenditure                  0.0
Diphtheria                         0.0
 HIV/AIDS                          0.0
GDP                                0.0
Population                         0.0
 thinness  1-19 years              0.0
 thinness 5-9 years                0.0
Income composition of resources    0.0
Schooling                          0.0
dtype: float64